.home { 
  
  background: #9AE4E8 url("/images/ao.jpeg") no-repeat fixed 50% 50%; }

.one { font-family: 'Pacifico',cursive; font-size:24px;}
.two{  font-family: 'Eater Caps', cursive; font-size:24px;}

.tree { font-family: 'Pacifico',cursive;
	font-size:28px;
	
}